@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Ovo&family=Prata&display=swap');
@import "tailwindcss";

html,
body {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}



.orbitron {
  font-family: var(--font-orbitron);
}
.outfit {
  font-family: var(--font-outfit);
}
.ovo-regular {
  font-family: var(--font-ovo);
}
.prata-regular {
  font-family: var(--font-prata);
}
